*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}

.logo{
    height: 3vh;
}
.nav2 .btn-light{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(128, 128, 128, 0.131);
}

@media screen and (max-width: 900px) {
    .first-nav{
        display: none;
    }
    .nav2 .hr{
        display: none;
    }
    .nav2 .btn-light{
        margin: 20px 0 20px 0;
    }
}
@media screen and (max-width: 500px){
    .nav2 button{
        width: 100%;
        margin: 0;
    }
}

/* home section  */
.home{
    width: 100%;
    height: 100vh;
    background-color: #DDF2E4;
}
.home .container-fluid{
    width: 50%;
}
.home h1{
    font-size: 70px;
    font-weight: bolder;
    padding-top: 17%;
}
.home p{
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: 500;
    width: 80%;
    margin: auto;
}
.home .p2{
    width: 100%;
    font-weight: 500;
}
.h-logo{
    width: 70%;
    margin: auto;
}
.h-img{
    width: 12%;
}

@media screen and (max-width: 400px){
    .home{
        height: 110vh;
    }
    .home .container-fluid{
        width: 100%;
    }
    .home h1{
        font-size: 30px;
        padding-top: 30%;
    }
    .home p{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .home button{
        width: 100%;
        margin-bottom: 5%;
    }
    .h-logo{
        width: 100%;
    }
    .h-img{
        width: 30%;
    }
}

@media (min-width: 400px) and (max-width: 600px){
    .home{
        height: 170vh;
    }
    .home .container-fluid{
        width: 100%;
    }
    .home h1{
        font-size: 50px;
        padding-top: 15%;
    }
    .home p{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .home button{
        width: 100%;
        margin-bottom: 5%;
    }
    .h-logo{
        width: 100%;
    }
    .h-img{
        width: 23%;
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .home{
        height: 170vh;
    }
    .home .container-fluid{
        width: 100%;
    }
    .home h1{
        font-size: 70px;
        padding-top: 15%;
    }
    .home p{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .h-img{
        width: 23%;
    }
}

/* practice section  */
.practice{
    width: 100%;
    height: 150vh;
}
.practice .container{
    padding-top: 5%;
}

.p-text{
    width: 60%;
    margin: auto;
    text-align: center;
}
.p-text h1{
    font-size: 40px;
}
.p-text p{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
}

.p-text a{
    text-decoration: none;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 500;
    transition: all ease 1s;
}

.p-text a:hover{
    text-decoration: underline;
    color: black;
}

.p-block{
    width: 100%;
    height: 70vh;
    background-color: #111621;
    border-radius: 20px;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.p-col1{
    width: 50%;
    color: whites;
    color: white;
    padding: 5% 5% 0 7%;
}
.p-col1 h1{
    font-size: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.p-col1 p{
    font-size: 19px;
    padding-bottom: 5%;
}
.p-col1 button{
    background-color: transparent;
    border: 1px solid white;
    padding: 15px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}

.p-col2{
    width: 50%;
}

.p-img{
    width: 100%;
    padding: 4% 10% 10% 0;
}

@media screen and (max-width:400px){
    .practice{
        height: 120vh;
    }
    .p-text{
        width: 100%;
        padding: 5%;
    }
    .p-text h1{
        font-size: 23px;
    }
    .p-text a{
        margin-left: 5%;
        margin-right: 5%;
    }
    .p-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .p-col1, .p-col2{
        width: 100%;
    }
    .p-img{
        width: 100%;
        padding: 5%;
    }
}

@media (min-width:400px) and (max-width:600px){
    .p-text{
        width: 100%;
        padding: 5%;
    }
    .p-text h1{
        font-size: 30px;
    }
    .p-text a{
        margin-left: 5%;
        margin-right: 5%;
    }
    .p-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 160vh;
    }
    .p-col1, .p-col2{
        width: 100%;
    }
    .p-img{
        width: 100%;
        padding: 5%;
    }
}

@media (min-width:600px) and (max-width:900px){
    .practice{
        width: 100%;
    }
    .p-text{
        width: 100%;
        padding: 10%;
    }
    .p-text h1{
        font-size: 40px;
    }
    .p-text a{
        margin-left: 5%;
        margin-right: 5%;
    }
    .p-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 160vh;
    }
    .p-col1, .p-col2{
        width: 100%;
    }
    .p-img{
        width: 100%;
        padding: 5%;
    }
}

/* third section  */
.rows-section{
    width: 100%;
    height: 245vh;
    background-color: #F7FCFF;
}

.t-block{    
    padding-top: 5%;
    width: 100%;
    height: 70vh;
    border-radius: 20px;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.t-col1{    
    width: 50%;
    color: whites;
    padding: 10% 5% 0 5%;
}
.t-col1 p{
    padding-top: 5%;
    padding-bottom: 5%;
}
.t-col1 button{
    border: none;
    background-color: transparent;
    font-weight: 500;
}

.t-col2{
    width: 50%;
    animation-delay: 60s;
}
.t-img{
    width: 110%;
    padding: 4% 10% 10% 0;
}

@media screen and (max-width: 400px){
    .rows-section{
        width: 100%;
        height: 270vh;
    }
    .t-block{
        display: flex;
        flex-direction: column;
        margin-top: 60%;
    }
    .t-col1, .t-col2{
        width: 100%;
    }
    .t-img{
        width: 100%;
        padding: 5%;
    }
}

@media (min-width:400px) and (max-width: 600px){
    .rows-section{
        width: 100%;
        height: 400vh;
    }
    .t-block{
        display: flex;
        flex-direction: column;
        margin-top: 90%;
    }
    .t-col1, .t-col2{
        width: 100%;
    }
    .t-img{
        width: 100%;
        padding: 5%;
    }
}

@media (min-width:600px) and (max-width: 800px){
    .rows-section{
        width: 100%;
        height: 470vh;
    }
    .t-block{
        display: flex;
        flex-direction: column;
        margin-top: 90%;
    }
    .t-col1, .t-col2{
        width: 100%;
    }
    .t-img{
        width: 100%;
        padding: 5%;
    }
}

/* product section */

.product{
    width: 100%;
    height: 200vh;
    padding-top: 5%;
    z-index: -10;
}

.p-text{
    text-align: center;
    margin: auto;
    width: 50%;
}

.p-text p{
    font-size: 20px;
}

.p-text button{
    padding: 15px 30px;
    font-weight: bold;
}

.p-logo{
    padding-left: 7%;
    height: 35vh;
}

.tool-img{
    width: 8%;
    margin-right: 5.9%;
    margin-top: 5%;
}

.inter-img{
    width: 80%;
    margin-left: 10%;
    z-index: 10;
}

@media screen and (max-width: 400px){
    .product{
        width: 100%;
        height: 90vh;
    }
    .p-text{
        width: 100%;
    }
    .p-text h1, .p-text p{
        font-size: 15px;
    }
    .p-logo{
        padding-left: 10%;
        padding-top: 5%;
        height: 15vh;
    }
    .tool-img{
        width: 10%;
        margin-right: 1.5%;
        margin-top: 5%;
    }
}

@media (min-width: 400px) and (max-width: 600px){
    .product{
        width: 100%;
        height: 150vh;
    }
    .p-text{
        width: 100%;
    }
    .p-text h1, .p-text p{
        font-size: 20px;
    }
    .p-logo{
        padding-left: 10%;
        padding-top: 5%;
        height: 25vh;
    }
    .tool-img{
        width: 10%;
        margin-right: 1.5%;
        margin-top: 5%;
    }
}

@media (min-width: 600px) and (max-width: 900px){
    .product{
        width: 100%;
        height: 170vh;
    }
    .p-text{
        width: 100%;
    }
    .p-text h1, .p-text p{
        font-size: 20px;
    }
    .p-logo{
        padding-left: 10%;
        padding-top: 5%;
        height: 35vh;
    }
    .tool-img{
        width: 10%;
        margin-right: 1.5%;
        margin-top: 5%;
    }
}


/* developer section */
.developer{
    width: 100vw;
    height: 90vh;
    background-color: #F7F9FC;
    padding-top: 3%;
}
.d-text{
    width: 40%;
    text-align: center;
    margin: auto;
}

.d-text i{
    font-size: 40px;
    padding-bottom: 30px;
}

.d-text p{
    font-size: 16px;
    padding-top: 30px;
}

.d-content{
    display: none;
}
.d-text2 p{
    font-size: 20px;
    padding-top: 15px;
}


.d-img{
    width: 95%;
    margin-left: 10%;
}

.d-logo{
    padding-top: 5%;
}
.dev-img{
    width: 12%;
}

@media screen and (max-width: 400px){
    .developer{
        width: 100vw;
        height: 140vh;
    }
    .container-large{
        display: none;
    }

    .d-text{
        width: 100vw;
        padding: 5%;
    }
    .d-content{
        display: flex;
        flex-direction: column;
    }
    .d-text2, .d-carousel{
        width: 100%;
        padding: 5%;
    }
    .d-img{
        width: 100%;
        margin: 0;
    }
    .dev-img{
        width: 30%;
    }
}

@media (min-width: 400px) and (max-width: 600px){
    .developer{
        width: 100vw;
        height: 270vh;
    }
    .container-large{
        display: none;
    }

    .d-text{
        width: 100vw;
        padding: 5%;
    }
    .d-content{
        display: flex;
        flex-direction: column;
    }
    .d-text2, .d-carousel{
        width: 100%;
        padding: 10%;
    }

    .d-logo{
        margin: 10%;
        margin-top: 0;
    }
    .d-img{
        width: 100%;
        margin: 0;
    }
    .dev-img{
        width: 30%;
    }
}

@media (min-width: 600px) and (max-width: 900px){
    .developer{
        width: 100vw;
        height: 280vh;
    }
    .container-large{
        display: none;
    }

    .d-text{
        width: 100vw;
        padding: 5%;
    }
    .d-content{
        display: flex;
        flex-direction: column;
    }
    .d-text2, .d-carousel{
        width: 100%;
        padding: 10%;
    }

    .d-logo{
        width: 100%;
        margin: 10%;
        margin-top: 0;
    }
    .d-img{
        width: 100%;
        margin: 0;
    }
    .dev-img{
        width: 30%;
    }
}

@media (min-width: 900px) and (max-width: 1200px){
    .developer{
        width: 100vw;
        height: 460vh;
        margin-top: 10%;
    }
    .container-large{
        display: none;
    }

    .d-text{
        width: 100vw;
        padding: 5%;
    }
    .d-content{
        display: flex;
        flex-direction: column;
    }
    .d-text2, .d-carousel{
        width: 100%;
        padding: 10%;
    }

    .d-logo{
        margin: 10%;
        margin-top: 0;
    }
    .d-img{
        width: 100%;
        margin: 0;
    }
    .dev-img{
        width: 30%;
    }
}

/* tools section is starting from here  */
.tools{
    width: 100%;
    height: 90vh;
    background-color: #D8F0E1;
}

.t-container{
    display: flex;
    flex-direction: row;
    padding: 10% 0 0 8%;
}
.t-1{
    width: 50%;
    height: 55vh;
    margin-right: 10px;
}
.t-1 p, .t-2 p{
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}

.t-2{
    padding-left: 5%;
    width: 50%;
    height: 55vh;
    margin-left: 10px;
    background-color: rgba(247, 249, 252, 0.611);
}

@media screen and (max-width: 400px){
    .tools{
        height: 50vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin-top: 5%;
    }
    .t-container{
        display: flex;
        flex-direction: column;
        padding: 5% 5% 0 5%;
    }
    
    .t-1, .t-2{
        width: 80%;
        padding: 0;
        margin: 0;
    }
    .t-1{
        width: 100%;
        height: 50vh;
    }
    .t-2{
        width: 100%;
        height: 45vh;
    }
}

@media screen and (max-width: 786px){
    .tools{
        height: 125vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin-top: 15%;
    }
    .t-container{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    .t-1, .t-2{
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

/* footer  */
.footer{
    width: 100%;
    height: 80vh;
    padding-top: 5% ;
}
.f-col{
    display: flex;
    flex-direction: column;
}

.footer a, .footer h6{
    color: rgba(39, 39, 39, 0.637);
}

.footer h6{
    letter-spacing: 8px;
}

.footer a:hover{
    color: green;
}

.social-footer{
    width: 40%;
    float: right;
}
.social-footer hr{
    width: 100%;
}

.social-footer i{
    font-size: 30px;
    margin-right: 25px;
    color: blue;
}

.social-footer p{
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.542);
}

@media screen and (max-width: 900px){
    .footer .row{
        display: flex;
        flex-direction: column;
    }
    .footer .col{
        padding: 10%;
    }
    .social-footer{
        width: 100%;
        padding: 5%;
    }
}